
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.user {
  width: 300px;
  padding: 25px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;  
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0e26d8;
}

img{
  width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;
}


 button{
  border: 1px solid #022034;
  background-color: #4cb5f9;
  color: white;
 

}

 input {
  padding: 10px;
  border-radius: 5px;
  color: black;
  outline: none;
}
input:hover{
  border: 1px solid #1515de;
}

button{
  background-color: #6acbdb;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}


.footer{
  padding-top: 20px;
}

span {
  cursor: pointer;
  color: rgb(76,181,249);
}