.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e3e3e0;
}

.products{
  width: auto;
  padding: 20px;
  background-color: #e4e3e3e0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 20px;

}

.product{
  width: 20%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.image-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #d8cdcd;
}
.p-title{
  font-size: 16px;
}
.p-image{
  width: 100%;
  
}
.p-description{
  font-size: 12px;
  text-align: justify;
  overflow: hidden;

  font-weight: bold;
  text-transform: capitalize;  
}
.p-category{
  font-family: Poppins;
  font-weight: 900;
}
.p-price{
  font-size: 20px;
  font-weight: bold;
  font-synthesis: style;
}
.product:hover{
  border: 1px solid black;
  transition: 0.3s;
  transition: scale(1.5);
}